	.banner {
	background: url(../img/puppy-0.jpg) no-repeat;
	width: 695px;
	height: 231px}

	.banner h6 {
	color: white;
	font-size: 22px;
	text-align: left;
	}

	.main{
	margin-top: 20px;
	}

	.omg {
	background: url(../img/puppy-1.jpg) no-repeat;
	width: 620px;
	height: 231px;
	}

	.pic {
		background: url(../img/puppy-2.jpg) no-repeat;
		width: 450;
		height: 450;
	}
	
	header {
	overflow: hidden;
	position: fixed;
	background: white;
	width: 85%;
	height: 70px;
	margin-top: -100px;	
	float: left;
	}

	.container_12 {
	margin-top: 100px;
	}

	header h1 {
	/*background: url(../img/puppy-1.jpg) no-repeat;*/
	/*text-indent: -9999px;*/
	/*width: 174px;
	height: 23px;*/
	margin: 10px 10px 20px 190px;
	float: left;

	}


	h1{
	font-family: sofia;
	padding-top: 15px;
	}


	h2 {
	font-size: 26px;
	border-bottom: 1px solid #d1d1d1;
	text-transform: lowercase;
	padding-bottom: 20px;
	margin-bottom: 15px;
	text-align: left;
	}

	h3 {
	font-family: sans-serif;
	margin-bottom: 15px;
	text-transform: lowercase;
	}


	a {
	color: #7e7e7e;
	text-decoration: none;
	}

	a:hover, .selected {
	color: black;
	}

	p {
	font-size: 13px;
	line-height: 20px;
	color: #353535;
	}


	nav {
	float: right;
	padding-top: 20px;
	}

	nav li {
	display: inline;
	}

	li {
	margin-left: 24px;
	}


	footer {
	clear: both;
	border-top: 1px solid #d1d1d1;
	padding-top: 18px;
	margin-top: 30px
	}

	.icons {
	float: right;
	padding-top: 10px;
	/*margin-top: 20px*/
	}

	#foot {
	font-size: 13px;
	float: left;
	color: #353535;
	}

	#rt{
	margin-top: 0;
	line-height: 20px
	}

